{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<!--<h1 class="page-title">Contact Us </h1>-->
<!--<div class="rte">
  {{ page.content }}
</div>-->
<div class="contact-form">
<form accept-charset="UTF-8" action="https://formkeep.com/f/332f489c6a92" method="POST">
  <input type="hidden" name="utf8" value="✓">
  <input type="email" name="email" placeholder="Your Email">
  <span class="message-label">message</span>
  <textarea rows="4" cols="50"></textarea>
  <button type="submit">Submit</button>
</form>

<div class="contact-extras-container">
<div class="email">
<span>info@sweetflag.club</span>
</div>
<div class="social"><span><a href="https://instagram.com/sweetflag_shop">{{ 'insta.png' | asset_url | img_tag: instagram }}</a></span><span>{{ 'fbook.png' | asset_url | img_tag: facebook }}</span></div>
</div>
